body {
	background-color: pink;
	margin: 0 auto;
	line-height: 150%;
	text-align: center;
}

header {
	color: #373738;
	font-size: 28px;
	text-align: center;
}

p {
	color: #373738;
	font-size: 16px;
	text-align: center;
	padding: 20px;
}
